# Database
DATABASE_URL="postgresql://user:password@localhost:5432/catalogoamim?schema=public"
DIRECT_URL="postgresql://user:password@localhost:5432/catalogoamim?schema=public"

# Server
NODE_ENV="development"
PORT=3333
HOST="0.0.0.0"

# CORS (Em produção, especifique os domínios permitidos, ou use * para aceitar tudo)
CORS_ORIGIN="*"

# Redis (opcional)
REDIS_URL="redis://localhost:6379"
REDIS_ENABLED="false"

# Logs
LOG_LEVEL="info" # debug, info, warn, error
